<div class="d-flex justify-content-center align-items-center flex-column" style="min-height: 100vh;">
  <div class="loader loader-1">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
  </div>

  <div class="timer-auto-link d-flex justify-content-center align-items-center flex-column mb-4">
    <p class="timer-title">After <span class="timer-value">5</span> sec. you will be automatically redirected to</p>
    <p class="timer-link"><%= @full %></p>
  </div>

</div>


<style>
  footer {
    display:none;
  }
</style>
